*{
    margin: 0;
    padding: 0;
}



@media only screen and (min-width: 1000px) {
    .wrapper{
        width: 100%;
    }
    
    .angel, .lester{
        border-radius: 50px;
        width:30%;
        margin: 0;

    }

    .angel {
    margin-right: 6%;
    }

    .lester {
    margin-left: 6%;
    }

    .wrapper #pics{
        text-align: center;
    }

    .image-info, h2 {
        background-color: #ECF3FF;
        font-size: 100px;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
        line-height: 100px;
    }
    
    .image-info, p {
        font-size: 30px;
        padding: 30px 150px 30px;
        line-height: 32px;
    }
}


