*{
    margin: 0;
    padding: 0;
}



@media only screen and (min-width:360px), (min-width:100px) {
    .wrapper{
        width: 100%;
    }
    
    .angel, .lester{
        border-radius: 50px;
        width:45%;

    }

    .angel {
        padding-left: 5%;
    }
    
    .image-info, h2 {
        padding: 30px 20px 30px;
        line-height: 44px;
    }
    
    .image-info, p {
        padding: 30px 20px 30px;
        line-height: 20px;
    }
}

@media only screen and (min-width: 700px)  {
    .wrapper{
        width: 100%;
    }
    
    .angel, .lester{
        padding: 0;
        width:45%;
    }

    .angel {
        padding-left: 5%;
    }
    
    .image-info, h2 {
        padding: 30px 20px 30px;
        line-height: 44px;
    }
    
    .image-info, p {
        padding: 30px 20px 30px;
        line-height: 20px;
    }
}

@media only screen and (min-width: 1000px) {
    .wrapper{
        width: 100%;
    }
    
    .angel, .lester{
        padding: 0;
        width:45%;
    }

    .angel {
        padding-left: 5%;
    }


    .image-info, h2 {
        font-size: 100px;
        padding: 30px 45% 30px;
        line-height: 100px;
    }
    
    .image-info, p {
        font-size: 20px;
        padding: 30px 150px 30px;
        line-height: 20px;
    }
}


